<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Блог{% endblock %}</title>

    {% block links %}{% endblock %}
    <link rel="stylesheet" href="/static/posts/styles.css">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  </head>
  <body>
    <header>
      <a href="{{ url_for('list_posts_page') }}" class="logo">Блог</a>

      <nav class="header-nav">
        {% if request.cookies.get('access_token') %}
          <a href="/posts/create">Создать пост</a>
          <a href="{{ url_for('profile_page') }}">Мой профиль</a>
          <a href="/logout">Выйти</a>
        {% else %}
          <a href="{{ url_for('login_page') }}">Войти</a>
          <a href="{{ url_for('register_page') }}">Регистрация</a>
        {% endif %}
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    {% block scripts %}{% endblock %}
  </body>
</html>